@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */
*{
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
.title{
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 20px;
}
.section-content{
    max-width: 40%;
}
.description{
    color: #727272;
    margin-bottom: 30px;
}
.btn-primary{
    padding: 20px 25px;background-color: #FF900E;
    border: none;
    border-radius: 8px;
    
}
.btn-primary > a{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    
}

/* Header Styles */
header{
    padding: 20px 240px;
    background-color: #fff3e6 ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3 {
    color: #131313;
    font-size: 2rem ;
    font-weight: 700;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #727272 ;
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 30px;
}
.banner-content{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin: 30px 0px;
}
/* .banner-content > .description{
    color: #727272;
    margin-bottom: 30px;
} */
.banner-image{
    width: 100%;
    margin-top: 50px;
}

/* Main Sections Styles */
main{
    max-width: 70% ;
    margin: 70px auto;
}

.team-Container{
    display: flex;
    align-items: center;
    gap: 70px;
    margin: 0px auto;
    margin-bottom: 70px;
}


.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
   
}
.team-content{
    max-width: 100%;
}
.team-title{
    font-weight: 400;
    font-size: 2.8rem ;
    color: #727272;
    margin-bottom: 20px;
}
.of-Our{
    font-weight: 700;
    color: #131313;
}
.Features{
    font-weight: 700;
    color: #FF900E;
}
.team-description{
    color: #727272;
    margin-bottom: 20px;
}
.timage{
    max-width: auto;
}
/* Features Section  */
.features-Container{
    display: flex;
    max-width: 100%;
    margin-bottom: 70px;
    

}
.features-content{
    max-width: 45%;
    margin-right: 30px ;
}
.image-content{
    max-width: 55%;

}
.card{
    padding: 50px ;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 30px 0 #eeeeee;
    margin-bottom: 20px;
}
.card> .description{
    margin: 0;
}
.fcard-title{
    margin-bottom: 10px;
}
.features-content> .title{
    border-left: 5px solid #FF900E;
    padding-left: 30px;
}
.image-content> img{
    position: relative;
    left: 100px;
}
.experience{
    text-align: center;
    background-color: #FF900E;
    border-radius: 10px;
    width: 340px ;
    padding: 45px 15px;
    color: #ffffff;
    position: relative;
    bottom: 100px;
}
.experience> .title{
    font-size: 4rem;
    margin: 0;
}
.experience> .sub-title{
    font-size: 1.5rem;
    margin: 0;
}

/* Some Facts Section */

.Facts-title{
    color: #131313;
    font-size: 2rem ;
    font-weight: 700;
}

.fects-info{
    display: flex;
    justify-content: space-evenly;   
}
.iner-box{
    border: 1px solid #FF900E;
    border-radius: 10%;
    padding: 50px;
    margin: 100px 0px;
}


.facts{
    width: 160px;
    text-align: center
}

.subtitle{
    font-weight: 500;
    font-size: 1rem;
    color: #727272;
}
/* Sponspors Section */

#content{
    margin: 0 auto;
    text-align: center;
    
}
.sponspors-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    
}

/* footer Style */
.footer{
    display: flex;
    max-width: 70%;
    align-items: center;
    justify-content: center;
    background-color: #fff3e6;
    border-radius: 10px;
    padding: 30px 0;
    margin: 50px auto;
}
.footer > p{
    font-size: 1.25rem;
}


 

/* Responsive CSS */
/* For Small devices */
@media screen and (max-width: 576px) {
    header{
        padding: 0px;
    }
    nav, .team-Container, .fects-info, .features-Container{
        flex-direction: column;
    }
    .team-content{
        text-align: center;
    }
    .timage{
        max-width: 100%;
    }
    main{
        max-width: 90% ;
        margin: 40px auto;
    }
    .footer{
        max-width: 90% ;
    }
    
    .iner-box{
        margin: 5px;
        
    }
    .fects-info{
        align-items: center;
    }
    .section-content{
        max-width: 100%;
        text-align: center;
    }
    .sponspors-logo{
        flex-wrap: wrap;
        justify-content: center;
    }
    .sponspors-logo>img{
        margin-bottom: 20px;
    }
    .sponsors-container{
        margin-top: 30px;
    }
    .Facts-Container{
        margin-top: 30px;
    }
    .features-content, .image-content{
        max-width: 100%;
    }
    .image-content> img{
        left: 0;
        width: 100%;

    }
    .experience{
        bottom: 50px;
        left: 50%;
        width: 240px ;
        padding: 20px 0px;
    }
    .experience> .title{
        font-size: 2rem;
        
    }
    .experience> .sub-title{
        font-size: 0.75rem;
        
    }


    
    
}
/* For Medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 20px;
    }
    nav, .team-Container, .features-Container{
        flex-direction: column;
    }
    .team-content{
        text-align: center;

    }
    main{
        max-width: 90% ;
        margin: 40px auto;
    }
    .footer{
        max-width: 90% ;
    }
    .timage{
        max-width: 25%;
    }
    .team-images{
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        
    }
    .fects-info{
        flex-wrap: wrap;
    }
    .iner-box{
        margin: 25px 0px;
    }

    .facts{
        margin: 5px;
        
    }
    .Facts-Container{
        margin-top: 30px;
    }
    .section-content{
        max-width: 100%;
        text-align: center;
    }
    
    .sponspors-logo{
        flex-wrap: wrap;
        justify-content: center;
    }
    .sponspors-logo>img{
        margin: 20px;
    }
    .sponsors-container{
        margin-top: 30px;
    }
    .features-content, .image-content{
        max-width: 100%;
    }
    .image-content> img{
        left: 0;
        width: 100%;

    }
    .experience{
        bottom: 50px;
        left: 50%;
        width: 240px ;
        padding: 20px 0px;
    }
    .experience> .title{
        font-size: 2rem;
        
    }
    .experience> .sub-title{
        font-size: 0.75rem;
        
    }


    
}